* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "DejaVu Sans Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

@define-color hair-red-tp rgba(203, 66, 86, 0.65);
@define-color light-green rgb(47, 166, 38);
@define-color dark-green rgb(32, 92, 32);
@define-color aqua-custom rgb(34, 168, 103);
@define-color gray-custom rgb(225, 225, 225);

window#waybar {
    background-color: transparent;
    /* background-image: linear-gradient(180deg, black, transparent); */
    color: @light-green;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 12px;
    margin-right: 12px;
}

.module {
    background-color: rgba(16, 16, 16, 0.75);
    border-radius: 10px;
    transition-property: all;
    transition-duration: 700ms;
    padding: 4px 12px;
    margin-top: 8px;
}

.module:hover{
    border-color: @gray-custom;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#custom-crypto {
    font-family: inherit;
}

#window,
#workspaces {
    /* font-family: "YujiMai", Roboto, Helvetica, Arial, sans-serif; */
    margin-left: 12px;
    margin-right: 12px;
    color: @gray-custom;
}

#workspaces button {
    background-color: transparent;
    border-radius: 25%;
    color: @gray-custom;
}

#workspaces button.active {
    color: @aqua-custom;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(160, 160, 160, 0.2);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#memory.good,
#cpu.good {
    color: rgb(0, 211, 35);
}

#memory.medium,
#cpu.medium {
    color: rgb(230, 168, 0)
}

#memory.bad,
#cpu.bad {
    color: red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    /* font-family: "Merienda", Roboto, Helvetica, Arial, sans-serif; */
    color: @light-green;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
